.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.section-card-container {
    display: flex;
    width: 950px;
    height: 125px;
    align-items: center;
    justify-content: center;
}
.input-card-content form {
    display: flex;
    width: 870px;
}

.input-card-content input {
    border-radius: 5px 0 0 5px;
}

.input-card-content button {
    width: 175px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.input-card-content button p {
    margin: 0;
}

