.main-nav {
  display: flex;
  min-height: 70px;
  flex-grow: unset;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: var(--main-color);
}

.main-menu {
  font-size: 18px;
  width: 170px;
  justify-content: flex-end;
}

.main-menu a:first-child {
  margin-left: 50px;
}

.main-menu a {
  color: var(--main-color);
}

.main-menu a.active {
  color: var(--main-color);
  font-weight: 700;
}

/* adaptação para corrigir anomalia na margem esquerda no menu em telas pequenas */
@media (max-width: 765px) {
  .main-menu a:first-child {
    margin-left: auto;
  }
}
