.product-card-container {
  background-color: var(--main-bg-color);
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--secundary-color);
  border-radius: 10px;
  margin-bottom: 30px;
}

.product-card-container h5 {
  text-align: center;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card-container p {
  font-size: 11px;
  margin: 0;
}

.product-content-container button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .product-card-container {
    width: 345px;
  }
  .product-card-container p {
    font-size: 14px;
  }
  .product-content-container .button-search-container button {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .product-card-container {
    width: 300px;
  }
  .product-card-container p {
    font-size: 12px;
  }
  .product-content-container .button-search-container button {
    width: 255px;
  }
}

@media (min-width: 1200px) {
  .product-card-container p {
    font-size: 14px;
  }
  .product-content-container .button-search-container button {
    width: 265px;
  }
}
