@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-color: #00285f;
  --main-bg-color: #ededed;
  --secundary-color: #585858;
  --header-bg-color: #f78b00;
  --emphasis-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-card-container {
  background-color: var(--main-color);
  color: var(--emphasis-color);
  border-radius: 10px;
}

.section-card-container {
  background-color: var(--main-bg-color);
  color: var(--secundary-color);
  border-radius: 15px;
}
