.base-card-container {
  border-radius: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 40px;
}

.button-container p {
  margin: 0;
  font-size: 12px;
}

@media (min-width: 576px) {
  .button-container {
    width: 170px;
  }
  .button-container p {
    font-size: 14px;
  }
}
