.home-container {
  padding: 30px;
  text-align: center;
}

.home-content-container {
  height: 580px;
  width: 970px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.home-content-text {
  width: 450px;
}

.home-content-text h1 {
  font-size: 34px;
}

.home-content-text p {
  font-size: 18px;
}

.home-img-container svg {
  padding: 20px;
  width: 500px;
  height: auto;
}

.section-card-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 120px;
  margin-top: 20px;
}

.subsection-container {
  display: flex;
  margin-right: 30px;
}

.subsection-container span {
  margin-left: 20px;
  font-size: 20px;
}

/* @media (min-width: 576px) {
  .home-content-text {
    width: 400px;
  }
  .home-content-text h1 {
    font-size: 1.5em;
  }

  .home-content-text p {
    font-size: 1.1em;
  }
  .section-card-container p {
    font-size: 1.2em;
  }
} */
