.base-card-container {
  display: flex;
  justify-content: center;
}

.home-container {
  margin-top: 30px;
}

.home-content-container {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content-text {
  /* padding: 10px; */
  width: 290px;
}

.home-content-text h1 {
  font-size: 20px;
}

.home-content-text p {
  font-size: 12px;
}

.home-img-container svg {
  width: 290px;
}

.section-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-top: 20px;
}

.subsection-container {
  display: flex;
  align-items: center;
}

.subsection-container span {
  margin-left: 5px;
  font-size: 15px;
}

@media (min-width: 576px) {
  .home-container {
    width: 535px;
  }
  .home-content-container {
    height: 365px;
  }
  .home-img-container svg {
    width: 333px;
    height: 199px;
  }
  .home-content-text {
    width: 420px;
  }
  .home-content-text h1 {
    font-size: 30px;
  }
  .home-content-text p {
    font-size: 16px;
  }
  .subsection-container span {
    margin-left: 20px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .home-container {
    width: 728px;
  }
  .home-content-container {
    height: 475px;
  }
  .home-container .section-card-container {
    justify-content: flex-start;
  }
  .subsection-container {
    margin-left: 85px;
  }
}

@media (min-width: 992px) {
  .home-container {
    width: 952px;
  }
  .home-content-container {
    height: 579px;
  }
  .home-img-container svg {
    width: 455px;
    height: 272px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    width: 972px;
  }
  .home-content-container {
    height: 365px;
    width: 830px;
    flex-direction: row;
    justify-content: center;
  }
  .home-content-text {
    width: 420px;
  }
  .home-content-text h1 {
    font-size: 28px;
  }
  .home-content-text p {
    font-size: 16px;
  }
}
