.home-container {
  padding: 10px;
  text-align: center;
}

/* .home-card {
  display: flex;
  flex-direction: column-reverse;
} */

.home-content-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.home-content-container h1 {
  width: 300px;
  font-size: 1em;
}

.home-content-container p {
  width: 300px;
  font-size: 0.8em;
}

.home-img-container svg {
  padding: 20px;
  width: 100%;
  height: auto;
}

.section-card-container {
    height: 120px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-card-container p {
    margin: 0;
    display: flex;
    align-items: center;
}